:root {
    --uno-colors-text: theme('colors.text');
    --uno-colors-background: theme('colors.background');
    --uno-colors-grid: theme('colors.grid');
}

* { 
    box-sizing: border-box; 
}

html {
    --at-apply: 'antialiased c-text bg-background';
    background-size: 7px 7px;
    background-image: 
    linear-gradient(to right, var(--uno-colors-grid) 1px, transparent 1px),
    linear-gradient(to bottom, var(--uno-colors-grid) 1px, transparent 1px);
}

html, body {
    --at-apply: 'm-0 p-0 h-full';
}

/* 确保变量 var(--uno-colors-grid) 解析生效 */
.bug { 
    --at-apply: 'bg-grid' ;
}