---
import themeConfig from "@/config"
import '@/styles/main.css'
---
<!doctype html>
<html lang="en">
	
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/webp" href={themeConfig.site.favicon} />
		<meta name="generator" content={Astro.generator} />
		<title>{themeConfig.site.title}</title>
	</head>

	<body>
		<div class="warpper">
			<div class="header">
				This is header!
			</div>
			<div class="body">
				This is article!
			</div>
		</div>
	</body>

</html>