---
import themeConfig from "@/config"
import '@/styles/main.css'
---
<!doctype html>
<html lang="en">
	
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/webp" href={themeConfig.site.favicon} />
		<meta name="generator" content={Astro.generator} />
		<title>{themeConfig.site.title}</title>
	</head>

	<body>
		<!-- container -->
		<div class="
		h-screen
	    max-w-[1360px]
	    min-w-[360px]
	    m-auto
		p-[clamp(30px,8.33vw,80px)_clamp(30px,8.33vw,80px)_0_clamp(30px,8.33vw,80px)]
		grid-[1fr_250px]-[160px_1fr]
		lg:p-[80px_80px_0px_80px] "
		>
		    <!-- header container -->
		    <div class="
   		    se-1-3-1-2
			lg:se-2-3-1-3
			grid-1-1 "
			>
			This is header!
			</div>
			<!-- main container -->
			<div class="
			se-1-3-2-3
			lg:se-1-2-1-3
			grid-[1fr_clamp(80px,26.3%,250px)]-1 "
			>
			    <!-- artitle container -->
				<div class="
				se-1-3-1-3
			    lg:se-1-2-1-3
				grid-1-1 "
				>
			    </div>
			</div>
		</div>
	</body>
</html>