---
import themeConfig from "../config"
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/webp" href={themeConfig.site.favicon} />
		<meta name="generator" content={Astro.generator} />
		<title>{themeConfig.site.title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>